/* footer */
.footer {
  background-color: var(--Dark-Blue);
}
.contacts__container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}
.img {
  fill: var(--White);
}
